services:
  - type: web
    name: tu-app-python
    env: python
    buildCommand: |
      pip install --upgrade pip setuptools wheel build
      pip install --only-binary=all pandas==2.1.4
      pip install -r requirements.txt --no-deps
    envVars:
      - key: PIP_NO_BINARY_PANDAS
        value: "0"
